*{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
.top-line{
    padding: 15px 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.list-left{
    padding-left: 100px;
    display: flex;
    gap: 20px;
    width: 70%;
}
.top-line ul li{
    list-style-type: none;
}
.button{
    background-color: #AF8833;
    text-transform: none;
    color: white;
    padding: 7px 20px; 
    border-radius: 15px; 
}
.button:hover{
    background-color: black;
    color: white;
}
.list-right{
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    text-align: right;
    color: #AF8833;
}
.header{
    display: flex;
    margin-left: 150px;
    padding-top: 50px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-top: 30px;
    margin-left: 150px;
}
.menu a{
    color: black;
}
.menu a:hover{
    color: #AF8833;
}
.menu ul li{
    display: inline-block;
    position: relative;
    text-align: left;
}
.menu ul li ul.list{
    width: 200%;
    background: #ffffff;
    display: none;
    position: absolute;
    z-index: 999;
    right: -200px;
    top: -10px;
}
.menu ul li:hover ul.list{
    display: block;
}

.list{
    font-weight: normal;
    margin-right: 100px;
    box-shadow: 0px 0px 25px 0px #AF8833;
    border-radius: 20px;
}
.list li{
    width: 100%;
    padding: 30px 30px;
}


.search{
    margin-left: 100px;
    margin-top: 15px;
    position: relative;
    width: 200px;
    height: 40px;
    border: 3px solid #a2a2a2;
    border-radius: 25px;
    padding: 0px 20px;
    padding-right: 0px;
}
.search-item{
    width: 100%;
    height: 100%;
}
.search input{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50px;
} 
.search input:focus{
    outline: none;
}

.banner{
    height: 800px;
    background: url(images/banner.jpg);
    background-size: 100% 100%;
}

.container{
    text-align: center;
}

.box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.box-left ul{
    list-style-type: none;
    float: right;
}
.box-right ul{
    list-style-type: none;
    float: left;
}
.box-mid img{
    width: 100%;
}

.box-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px 150px;
    gap: 20px;
}
.box-img img{
    width: 100%;
}
.info{
    display: flex;
}
.info-full{
    height: 200px;
}
.circle{
    margin: 5px 15px;
    padding: 15px 6px;
    background-color: #AF8833;
    border-radius: 30px;
}
.info p{
    padding-left: 10px;
    padding-top: 10px;
}
.text{
    float: left;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
}
.pic{
    box-shadow: 0px 0px 25px 0px #dcdcdc;
}

.box-last{
    color: white;
    margin-top: 100px;
    height: 500px;
    background-color: #AF8833;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}
.last-left{
    margin-top: 50px;
}
.last-right{
    margin-top: 50px;
}
.product{
    width: 200px;
}
.product-right{
    margin-top: 10px;
    width: 100px;
    border: 2px solid white;
    border-radius: 20px;
}

.page-footer{
    margin-top: 0px;
    width: 100%;
    height: 70px;
    background-color: black;
}
.page-footer ul{
    margin-right: 70px;
    padding-top: 20px;
    display: flex;
    gap: 10px;
    float: right;
    padding-right: 50px;
}
.page-footer ul li{
    list-style-type: none;
}
.page-footer i{
    font-size: 20px;
    border: none;
    padding: 5px;
    color: white;
    background-color: #1A2134;
    border-radius: 15px;
}
.page-footer p{
    float: left;
    padding-left: 150px;
    padding-top: 35px;
    font-size: larger;
    color: #b6b6b6;

}
.page-footer span{
    color: red;
    font-weight: bold;
}

.icon{
    position: fixed;
    z-index: 1002;
}